#IDE related files
.vscode/
.idea/

#Virtual environment
#I named mine venv if you named it smt. else please add it here.
backend/venv/
backend/.venv/
backend/env
backend/.env

#React related things
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/build
frontend/coverage

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
.env.test.local
.env.production.local

#Django add backend/ for each of them
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__/
backend/db.sqlite3
backend/media