<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
</head>
<body>
    <h1>Login Form</h1>
        <input id="email" type="text" name="username" placeholder="Username" required>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <input id="login-submit" type="submit">
    <br/>

    <div id="context">

    </div>

    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        var activeChats = [];

        document.querySelector('#email').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#login-submit').click();
            }
        };

        document.querySelector('#password').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#login-submit').click();
            }
        };

        document.querySelector('#login-submit').onclick = async function(e) {
            var email = document.querySelector('#email').value;
            var password = document.querySelector('#password').value;

            await axios.post('http://127.0.0.1:8000/api/user/token/', {
                email: email,
                password: password
            }).then(function (response){
                console.log(response.data);
                localStorage.clear();
                localStorage.setItem('access', response.data.access);
                localStorage.setItem('refresh', response.data.refresh);
                axios.defaults.headers.common['Authorization'] = 'Bearer ' + localStorage.getItem('access');
            })

            axios.get('http://127.0.0.1:8000/chat/').then(function (response){
                activeChats = response.data.results;
                let context = document.getElementById('context');
                for( let i = 0 ; i < activeChats.length ; i++ ){
                    let chat = activeChats[i];
                    let chat_id = chat.id;
                    let chatLink = document.createElement('a');
                    chatLink.setAttribute('href', '/chat/test/' + chat_id + '/');
                    chatLink.innerHTML = chat.id + ' ' + chat.participiants + '<br>';
                    context.appendChild(chatLink);
                }

            })
        };


        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/test/' + roomName + '/';
        };


    </script>
</body>
</html>