{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
    <title>Notification</title>
</head>
<body>
    <div id="anan">
        <button id="clear">CLEAR</button>
        <p id="numof"></p>
    </div>
    <div id="content">
        <h2>Notification</h2>
        <ul id="notification">
        </ul>
    </div>
    <script src="{% static 'reconnecting_websocket.js' %}"></script>
    <script>
        var user_id = {{user.id}}
        var notificationSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/notification/' + user_id + '/');
        notificationSocket.onopen = function(e) {
            console.log("Connected to notification socket" + user_id)
            notificationSocket.send(JSON.stringify({
                "command": "counter",
                "user_id": user_id,
            }))
        }

        notificationSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if(data['command'] === 'marked'){
                updateNotificationCount(0)
            }
            else if(data['command'] === 'first_get'){
                updateNotificationCount(data['count'])
            }
            else{
                increaseNotificationCount()
                addNotification(data)
            }
        }

        notificationSocket.onclose = function(e) {
            console.error("Notification socket closed unexpectedly")
        }

        document.querySelector('#clear').onclick = function(e) {
            updateNotificationCount(0)
            document.getElementById('notification').innerHTML = ""
            notificationSocket.send(JSON.stringify({
                "command": "mark_all",
                "user_id": user_id,
            }));
        }

        function updateNotificationCount(count){
            document.getElementById('numof').innerText = count
        }

        function increaseNotificationCount(){
            var count = parseInt(document.getElementById('numof').innerText)
            count += 1
            updateNotificationCount(count)
        }

        function addNotification(data){
            var notification = document.createElement('li');
            var pIdTag = document.createElement('p');
            pIdTag.textContent = data['id'];
            var pDescriptionTag = document.createElement('p');
            pDescriptionTag.textContent = data['description'];
            var pTimestampTag = document.createElement('p');
            pTimestampTag.textContent = data['timestamp'];
            var pRelatedItemTag = document.createElement('p');
            pRelatedItemTag.textContent = data['related_item'];
            var pRelatedItemIdTag = document.createElement('p');
            pRelatedItemIdTag.textContent = data['related_item_id'];
            var markButton = document.createElement('button');
            markButton.textContent = 'Mark as read';
            markButton.onclick = function(e) {
                notificationSocket.send(JSON.stringify({
                    "command": "mark_single",
                    "notification_id": data['id'],
                    "user_id": user_id,
                }));
                notification.remove();
                var count = parseInt(document.getElementById('numof').innerText)
                count -= 1
                updateNotificationCount(count)
            };

            notification.appendChild(pIdTag);
            notification.appendChild(pDescriptionTag);
            notification.appendChild(pRelatedItemIdTag);
            notification.appendChild(pRelatedItemTag);
            notification.appendChild(pTimestampTag);
            notification.appendChild(markButton);
            document.querySelector('#notification').appendChild(notification);
        }
    </script>
</body>
</html>